{% comment %} blog kutularının kodu burası burayı defalaca cağrıyoruz blogs.html de yeni değerlerle olusuyor  {% endcomment %}
{%load static%}
<div class="card mb-3">
    <div class="row">
      <div class="col-md-3">
        <img src="{{blog.image.url}}" class="img-fluid w-100 h-100 rounded-start" alt="">
      </div> 
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'blog_datails' blog.slug %}" >{{blog.title}}</a>
          </h5>
          <p class="card-text">{{blog.description|striptags|slice:"0:50"}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>  
