{% comment %} herseyin başladıgı yer {% endcomment %}
{%load static%}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<!-- hata  -->   
   <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css'%}">
    {%block css_files%} {%endblock%}
    <title>{%block title%}{%endblock%}|blogapp</title>
</head>
<body>
    {%include 'paritals/_navbar.html'%}
  
    {%block content%}{%endblock%}
    <script src="{%static 'blog/js/bootstrap.bundle.min.js.js'%}"></script>
    {%block js_files%}{%endblock%}
    
</body>
</html> 
