 {%extends "base.html"%}{% comment %}base.html yi inport ediyoruz asağıdaki block lara base.hmtl deki bosluklaır dolduruyoruz {% endcomment %}
{%block title%} blog {%endblock%}

{%block content%}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                {%include 'paritals/categorires.html'%} 
            </div>
            <div class="col-9">
                <h1>all blogs</h1>
                {%for blog in blogs%}<!-- burada views.py da blogs var onu burad kullanıyoruz burada anakuutları yani python,django kutusunu dinamik hale getiriyoruz  --> 
                    {%include 'partials/_blog.html'%} 
                {%endfor%}


            </div>
        </div>
    </div>
{%endblock%}

